<div id="left-navbar">

    <div id="element-navbar" class="w-1/6 h-screen bg-third drop-shadow-xl">
        <ul>
            <li class="w-full h-12 p-1 mt-2 mb-4">
                <a href="/">
                    <img class="w-full h-full" src="/assets/icons/logo.svg" alt="logo">
                </a>
            </li>
            <!-- <li>
                <button class="w-full h-14 p-3 my-3">
                    <img class="w-full h-full" src="/assets/icons/plus.svg" alt="plus">
                </button>
            </li> -->
            <li>
                <button class="w-full h-14 p-3 my-3" data-bs-target="#block">
                    <img class="w-full h-full" src="/assets/icons/blocks.svg" alt="blocks">
                </button>
            </li>
            <li>
                <button class="w-full h-14 p-3 my-3" data-bs-target="#layer">
                    <img class="w-full h-full" src="/assets/icons/layers.svg" alt="layers">
                </button>
            </li>
            <li>
                <button class="w-full h-14 p-3 my-3" data-bs-target="#style">
                    <img class="w-full h-full" src="/assets/icons/palette.svg" alt="palette">
                </button>
            </li>
            <li>
                <button class="w-full h-14 p-3 my-3" data-bs-target="#trait">
                    <img class="w-full h-full" src="/assets/icons/gear.svg" alt="gear">
                </button>
            </li>
        </ul>
    </div>

    <div id="element" class="w-5/6 h-screen bg-primary relative">

        <!-- <a href="/"> -->
            <h1 class="font-nunito text-4xl py-4 pl-3 font-medium underline decoration-second underline-offset-8">Weblox
            </h1>
        <!-- </a> -->
        <img class="xbtn" src="/assets/icons/xmark.svg" alt="x">

        <div id="element-content" class="h-full mt-5">

            <div class="tab-pane show p-3">
                <h1 class="text-center text-xl font-semibold font-nunito">Welcome to Weblox</h1>
                <p class="pt-3 p-1 font-light">&emsp;&emsp; This is the webpage builder where you can make the website
                    just by drag and drop. :)</p>
            </div>

            <div class="tab-pane hidden" id="block">
                <div id="blocks"></div>
            </div>
            <div class="tab-pane hidden" id="layer">
                <div id="layers-container"></div>
            </div>
            <div class="tab-pane hidden" id="style">
                <div id="styles-container"></div>
                <div id="styles"></div>
            </div>
            <div class="tab-pane hidden" id="trait">
                <div id="trait-container"></div>
            </div>

        </div>

    </div>
</div>


<div id="main-content">

    <div id="top-navbar" class="h-14 w-full relative bg-third shadow-2xl flex items-center justify-between">
        <div class="panel_devices ml-5 flex"></div>
        <div class="panel_basic_actions mr-5 flex"></div>
    </div>

    <div id="editor"></div>
</div>