<header class="border flex items-center justify-between p-7 fixed top-0 left-0 right-0">
    <div class="flex items-center ">
        <img src="/assets/icons/logo.svg" alt="logo">
        <h1 class="font-nunito text-3xl font-medium ml-2">Weblox</h1>
    </div>

    <div class="links flex text-lg">
        <ul>
            <li><a class="mr-7 font-nunito font-semibold text-md" href="#">About</a></li>
        </ul>
        <ul>
            <li><a class="mr-7 font-nunito font-semibold text-md" href="#">Feaures</a></li>
        </ul>
        <ul>
            <li><a class="p-3 border rounded-md font-nunito font-semibold text-md" href="/builder">Try for free</a></li>
        </ul>
    </div>
</header>

<section id="home" class="text-center flex items-center justify-center flex-col">
    <h1 class="font-nunito text-8xl font-medium m-3 p-3 px-20  uppercase">Effortlessly Craft Your Online Presence</h1>
    <p class="text-xl">Empowering You to Create a Stunning, High-Performing <br> Digital Presence with Ease</p>
    <a href="/builder" class="border px-8 py-3 text-lg m-8 rounded-lg font-semibold">Try for Free</a>
</section>

<section></section>
<section></section>
<section></section>