<%- include ('loader') %>

    <header class="flex items-center justify-between p-7 fixed top-0 left-0 right-0 max">
        <div class="flex items-center ">
            <img src="/assets/icons/logo.svg" alt="logo" loading="eager">
            <h1 class="font-nunito text-3xl font-medium ml-2 text-primary">Weblox</h1>
        </div>

        <div>
            <ul class="links flex text-lg">
                <li><a class="mr-7 font-nunito font-semibold text-md text-primary" href="#home"
                        onclick="lenis.scrollTo('#home')">Home</a></li>
                <li><a class="mr-7 font-nunito font-semibold text-md text-primary" href="#about"
                        onclick="lenis.scrollTo('#about')">About</a></li>
                <li><a class="mr-7 font-nunito font-semibold text-md text-primary" href="#features"
                        onclick="lenis.scrollTo('#features')">Features</a></li>
                <li><a class="try p-3 rounded-md font-nunito font-semibold text-md bg-primary text-third border-primary border-2"
                        href="/builder">Try for free</a></li>
            </ul>
        </div>
    </header>

    <main>
        <section id="home" class="text-center flex items-center justify-center flex-col">
            <div class="max">
                <h1 class="font-nunito text-8xl font-semibold m-3 p-3 px-20  uppercase">Effortlessly Craft Your
                    <span class="font-poppins text-primary">
                        Online Presence
                    </span>
                </h1>
                <p class="text-xl text-fourth mb-8 pb-5">Empowering You to Create a Stunning, High-Performing <br>
                    Digital
                    Presence
                    with Ease</p>
                <a href="/builder"
                    class="bg-primary text-third px-8 py-3 text-lg m-8 rounded-lg font-semibold border-primary border-2">Try
                    for
                    Free</a>

                <div class="home-video">
                    <video src="/assets/images/builder.mp4" autoplay muted loop class="builder-vid"></video>
                </div>
            </div>
        </section>

        <section id="about">
            <h2 class="about-text capitalize text-7xl leading-snug font-nunito py-5 max">Weblox is the Ultimate Tool
                <br> to Develop your
                Website. <br> <span class="about-span">No Coding</span> Required.
            </h2>
        </section>

        <section id="about-info">
            <div class="max flex items-center ">
                <img src="/assets/images/demo-img.webp" alt="about-img" loading="lazy">
                <div class="content text-right">
                    <h2 class="text-7xl leading-snug font-nunito py-5">Real-time Frontend <br> Website Building</h2>
                    <p class="text-xl text-second m-5 mt-2">Enjoy a whole new site building experience with the best
                        website
                        builder features and state of the art
                        elements inside.</p>
                </div>
            </div>
        </section>

        <section id="features">
            <div class="feature-content max">
                <div class="feature">
                    <img src="/assets/icons/feature1.svg" alt="feature1">
                    <h3>Drag & Drop site building</h3>
                </div>
                <div class="feature">
                    <img src="/assets/icons/feature2.svg" alt="feature2">
                    <h3>Using latest technology to build</h3>
                </div>
                <div class="feature">
                    <img src="/assets/icons/feature3.svg" alt="feature3">
                    <h3>Freedom of customization</h3>
                </div>
                <div class="feature">
                    <img src="/assets/icons/feature4.svg" alt="feature4">
                    <h3>Real-time live editing</h3>
                </div>
                <div class="feature">
                    <img src="/assets/icons/feature5.svg" alt="feature5">
                    <h3>Download and Export code feature</h3>
                </div>
                <div class="feature">
                    <img src="/assets/icons/feature6.svg" alt="feature1">
                    <h3>Super fast site development</h3>
                </div>
            </div>
        </section>

        <section id="howToUse">
            <div class="max flex items-center flex-col">
                <h3 class="text-7xl leading-snug font-nunito py-5 capitalize text-center"> How to use </h3>
                <div class="content howToUse-container p-6 text-center m-7 bg-third">
                    <img src="/assets/icons/documentation.svg" alt="how-to-use">
                    <h4 class="text-5xl font-nunito mt-5 py-3 text-primary font-bold">Guide</h4>
                    <p class="text-xl text-fourth p-5">Get step-by-step guidelines on how to use this product.</p>
                    <a href="/guide"
                        class="bg-primary text-third px-8 py-3 text-lg m-1 rounded-lg font-semibold border-primary border-2">Guide</a>
                </div>
            </div>
        </section>
    </main>

    <footer class="body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col max">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <img src="/assets/icons/logo.svg" alt="logo" class="w-10">
                <span class="ml-3 text-2xl text-primary">Weblox</span>
            </a>
            <p class="text-base text-primary sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">©
                2024 Weblox —
                <a href="https://github.com/prasadp27" class="text-primary ml-1" rel="noopener noreferrer"
                    target="_blank">Prasad Panchal</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-primary" href="https://www.facebook.com" rel="noopener noreferrer" target="_blank">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-primary" href="https://www.instagram.com" rel="noopener noreferrer" target="_blank">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-primary" href="https://www.linkedin.com" rel="noopener noreferrer" target="_blank">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </footer>