<header class="flex items-center justify-between p-7 fixed top-0 left-0 right-0 max">
    <div class="flex items-center ">
        <img src="/assets/icons/logo.svg" alt="logo">
        <h1 class="font-nunito text-3xl font-medium ml-2 text-primary">Weblox</h1>
    </div>

    <div>
        <ul class="links flex text-lg">
            <li><a class="mr-7 font-nunito font-semibold text-md text-primary" href="#">Home</a></li>
            <li><a class="mr-7 font-nunito font-semibold text-md text-primary" href="#">About</a></li>
            <li><a class="mr-7 font-nunito font-semibold text-md text-primary" href="#">Feaures</a></li>
            <li><a class="try p-3 rounded-md font-nunito font-semibold text-md bg-primary text-third"
                    href="/builder">Try for free</a></li>
        </ul>
    </div>
</header>

<section id="home" class="text-center flex items-center justify-center flex-col">
    <div class="max">
        <h1 class="font-nunito text-8xl font-semibold m-3 p-3 px-20  uppercase">Effortlessly Craft Your
            <span class="font-poppins text-primary">
                Online Presence
            </span>
        </h1>
        <p class="text-xl text-fourth mb-8 pb-5">Empowering You to Create a Stunning, High-Performing <br> Digital
            Presence
            with Ease</p>
        <a href="/builder"
            class="bg-primary text-third px-8 py-3 text-lg m-8 rounded-lg font-semibold hover:bg-transparent">Try for
            Free</a>

        <div class="home-video">
            <video src="/assets/images/builder.mp4" autoplay muted loop class="builder-vid"></video>
        </div>
    </div>
</section>

<section id="about">
    <h2 class="capitalize text-7xl leading-snug font-nunito py-5 max">Weblox is the Ultimate Tool <br> to Develop your
        Website. <br> <span class="about-span">No Coding</span> Required.</h2>
</section>

<section id="about-info">
    <div class="max flex items-center ">
        <img src="/assets/images/Screenshot (62).png" alt="about-img">
        <div class="content text-right">
            <h2 class="text-7xl leading-snug font-nunito py-5">Real-time Frontend <br> Website Building</h2>
            <p class="text-xl text-second m-5 mt-2">Enjoy a whole new site building experience with the best website builder features and state of the art
                elements inside.</p>
        </div>
    </div>
</section>
<section></section>