:root{
    --primary-color: #F9F9F9;
    --second-color: #3D3B40;
    --third-color: #525CEB;
    --fourth-color: #BFDBFE;
}

#left-navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    /* width: auto; */
    height: 100%;
    border: 2px solid var(--second-color);
    /* overflow: hidden; */
    display: flex;
}

#element-navbar ul li button.active{
    background-color: var(--primary-color);
    border-radius: 15px 0 0 15px;
}

.show{
    display: block;
}
.hidden{
    display: none;
}

#main-content {
    position: relative;
    left: 20%;
    width: 80%;
    height: 100%;
}

.gjs-pn-panel {
    position: relative;
}

#editor .gjs-cv-canvas {
    width: 100%;
    height: 100%;
    top: 0;
}