#left-navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    /* width: auto; */
    height: 100%;
    border: 2px solid blue;
    /* overflow: hidden; */
    display: flex;
}

#main-content {
    position: relative;
    left: 20%;
    width: 80%;
    height: 100%;
}

.gjs-pn-panel {
    position: relative;
}

#editor .gjs-cv-canvas {
    width: 100%;
    height: 100%;
    top: 0;
}