:root{
    --primary-color: #F9F9F9;
    --second-color: #AAAAAA;
    --third-color: #75ccff;
    --fourth-color: #d5efff;
}

#left-navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    min-width: 300px;
    height: 100%;
    border: 1px solid var(--second-color);
    /* overflow: hidden; */
    display: flex;
    z-index: 5;
}
#left-navbar button:hover img{
    scale: 1.1;
    transition: 0.6s all;
}
#element-navbar {
    z-index: 10;
    overflow: hidden;
    min-width: 50px !important;
}
#element-navbar ul li button{
    transition: 0.6s all;
}
#element-navbar ul li button.active{
    background-color: var(--primary-color);
    border-radius: 15px 0 0 15px;
    transform: translateX(5px);
    transition: 0.6s;
}
#element-navbar ul li button.active img{
    scale: 1.2;
}

#element #element-content{
    overflow-y: scroll;
}

#element #element-content::-webkit-scrollbar{
    display: none;
}
#element img{
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 10px;
    height: 25px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 5px;
    transition: 0.6s;
}
#element img:hover{
    scale: 1.05;
    border: 1px solid #000;
}

#main-content {
    position: relative;
    left: 20%;
    top: 0;
    /* left: 300px; */
    /* overflow-x: scroll; */
    /* max-width: 80%; */
    min-width: 600px;
    width: 80%;
    height: 100%;
}
@media (max-width: 800px) {
    #main-content{
        width: calc(100% - 50px);
        left: 50px;
    }
}
/* 
#top-navbar {
    z-index: 5;
} */

#top-navbar img {
    height: 23px;
    margin: 0 3px 0;
}
#top-navbar .gjs-pn-btn{
    background-color: var(--primary-color);
    border: 2px solid var(--second-color);
    border-radius: 8px;
}
#top-navbar .gjs-pn-btn:hover{
    /* background-color: var(--second-color); */
    scale: 1.05;
    transition: 0.6s all;
}
#top-navbar .gjs-pn-btn:active{
    scale: 0.95;
    background-color: var(--second-color);
}
#top-navbar .gjs-one-bg{
    background-color: transparent;
}

.gjs-pn-panel {
    position: relative !important;
}

#editor .gjs-cv-canvas {
    width: 100%;
    height: 100%;
    top: 0;
}

#blocks .gjs-block{
    width: 100%;
    padding: 0;
    min-height: 20px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid var(--second-color);
}
#blocks .gjs-block:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#blocks .gjs-one-bg {
    background-color: #e3e3e343 !important;
}
#blocks .gjs-title{
    background-color: #cccccc;
    color: #000;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
}
#blocks .gjs-blocks-c{
    padding: 5px;
}
/* .gjs-two-color {
    color: #77abff;
} */

/* .gjs-three-bg {
    background-color: #77abff;
    color: #fcfcfc;
} */

/* .gjs-four-color,
.gjs-four-color-h:hover {
    color: #77abff;
} */