<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weblox<%= title %></title>
    
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="stylesheet" href="/<%= style %>.css">

    <script src="//unpkg.com/grapesjs"></script>
    <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">

</head>

<body>

    <%- body %>

    <script src="<%= script %>.js"></script>

</body>

</html>