<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Weblox is webpage builder where the user can drag and drop the components of the website and can build a static webpage for there business or other purpose.">
    <title>Weblox<%= title %></title>
    <link rel="icon" href="/assets/icons/logo.svg">
    
    <link rel="stylesheet" href="/styles/tailwind.css">

    <%- headTags %>

</head>

<body>

    <%- body %>

    <%- bodyTags %>

</body>

</html>